<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Profile</title>
        <link rel="stylesheet" href="../stylesheets/profile.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../stylesheets/index.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-dark sticky-top p-0" style="background-color: #006599">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/"><i class="fas fa-home mr-3"></i>OH !</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/board"><i class="fas fa-clipboard-list mr-3"></i><span class="third">게시판</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://10.120.73.33:8080"><i class="fas fa fa-envelope mr-3"></i><span class="third">메시지</span></a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <% if(id == undefined) { %>
                    <li class="nav-item" style="padding-top: 0.7rem;">
                        <a class="" href="/users/login"><span class="third log">Log in</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/users/login">
                            <i class="fas fa-user-circle fa-lg mr-2"></i>
                        </a>
                    </li>
                <% } else { %>
                    <li class="nav-item" style="padding-top: 0.7rem;">
                        <a class="" href="/users/logout"><span class="third log">Log out</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/users?id=<%=id%>">
                            <% if(my_user !== undefined && my_user.filepath !== undefined && my_user.filepath !== '') { %>
                                <img src="..<%=my_user.filepath%>" alt="ㅎㅇㄹ" class="mr-2 rounded-circle" style="width: 23px; height: 23px;"/>
                            <% } else { %>
                                <i class="fas fa-user-circle fa-lg mr-2"></i>
                            <% } %>
                            <span class="second"><%=my_user.name%></span>
                        </a>
                    </li>
                <% } %>
            </ul>
        </nav>

        <div class="container emp-profile">
            <form method="post" autocomplete="off" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img mt-n5">
                        <% if(user.filepath !== undefined && user.filepath !== '') { %>
                            <img src="..<%=user.filepath%>" alt="ㅎㅇㄹ" class="img rounded-circle"/>
                        <% } else { %>
                            <img src="../images/profiles/profile.png" alt="ㅂㅇㄹ" class="img rounded-circle"/>
                        <% } %>
                            <% if(user.id == id) { %>
                                <div class="file btn btn-lg btn-primary">
                                    Change Photo
                                    <input class="file-upload upload-button" type="file" name="upload" multiple title="profileimg" accept="image/*"/>
                                </div>
                            <% } %>
                                <%# 이미지 변경 미리보기 %>
                                <script>
                                    $(document).ready(function() {
                                        var readURL = function(input) {
                                            if (input.files && input.files[0]) {
                                                var reader = new FileReader();
                                                reader.onload = function (e) {
                                                    $('.img').attr('src', e.target.result);
                                                }
                                                reader.readAsDataURL(input.files[0]);
                                            }
                                        }
                                        $(".file-upload").on('change', function(){
                                            readURL(this);
                                        });
                                        
                                        $(".upload-button").on('click', function() {
                                            $(".file-upload").click();
                                        });
                                    });
                                </script>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                            <h3><b><%= user.name %></b></h3>
                            <h6 class="mt-4">
                                <%= user.profession %>
                            </h6>
                            <ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#post" role="tab" aria-controls="home" aria-selected="true">타임라인</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#board">게시판</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <% if(user.id == id) { %>
                            <input type="submit" class="profile-edit-btn" name="btnAddMore" value="프로필 수정"/>
                        <% } %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work pt-0 mt-5">
                            <h5 class="text-center mb-4">개인 정보</h5>
                            <div class="row my-3">
                                <div class="col-md-6">
                                    <p>이름</p>
                                </div>
                                <div class="col-md-6">
                                    <p><%= user.name %></p>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-md-6">
                                    <p>학번</p>
                                </div>
                                <div class="col-md-6">
                                    <p id="student_id_area">
                                        <% if(user.student_id != undefined) { %>
                                            <%= user.student_id %>
                                        <% } else { %>
                                            <% if(user.id == id) { %>
                                                <input type="text" placeholder="정보를 입력해주세요" class="form-control form-control-sm" name="student_id" id="student_id" require>
                                            <% } %>
                                        <% } %>
                                    </p>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-md-6">
                                    <p>학과</p>
                                </div>
                                <div class="col-md-6">
                                    <p id="profession_area">
                                        <% if(user.profession != undefined) { %>
                                            <%= user.profession %>
                                        <% } else { %>
                                            <% if(user.id == id) { %>
                                                <input type="text" placeholder="정보를 입력해주세요" class="form-control form-control-sm" name="profession" id="profession" require>
                                            <% } %>
                                        <% } %>
                                    </p>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-md-6">
                                    <p>이메일</p>
                                </div>
                                <div class="col-md-6">
                                    <p id="email_area">
                                        <% if(user.email != undefined) { %>
                                            <%= user.email %>
                                        <% } else { %>
                                            <% if(user.id == id) { %>
                                                <input type="email" placeholder="정보를 입력해주세요" class="form-control form-control-sm" name="email" id="email" require>
                                            <% } %>
                                        <% } %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-md-6 mt-n5" style="overflow:scroll; overflow-x: hidden; height: 60vh!important;">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="post" role="tabpanel" aria-labelledby="home-tab">
                                <%# 본문 반복 %>
                                <% for(var i = 0; i < post.length; i++) { %>
                                    <div class="row mt-3 mb-3">
                                        <div class="card col-sm-12 px-0">  
                                            <%# 본문  %>
                                            <div class="card-body px-0">
                                                <div class="media px-2">
                                                    <a href="/users?id=<%=post[i].id%>">
                                                        <% if(post[i].filepath !== undefined && post[i].filepath !== '') { %>
                                                            <img src="..<%=post[i].filepath%>" alt="ㅎㅇㄹ" class="mr-3 rounded-circle" style="width:64px; height: 64px;"/>
                                                        <% } else { %>
                                                            <img src="../images/profiles/profile.png" alt="ㅂㅇㄹ" class="mr-3 rounded-circle" style="width:64px; height: 64px;"/>
                                                        <% } %>
                                                    </a>
                                                    <div class="media-body">
                                                        <h5 class="mt-0"><a href="/users?id=<%=post[i].id%>" class="hover"><%=post[i].name%></a></h5>
                                                        <%=post[i].date%>
                                                        <hr style="border: 1px solid #343a40; background-color: #343a40">
                                                        <div class="media mt-3">
                                                            <div class="media-body">
                                                                <%=post[i].content%>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> 
                                            </div>

                                            <%# 좋아요, 댓글  %>
                                            <div class="card-body pb-3">
                                                <%# 좋아요 버튼  %>
                                                <button type="button" class="btn btn-dark btn-sm mr-2" id="like__<%=post[i]._id%>">
                                                    <i class="far fa-heart mr-2" id="heart_<%=post[i]._id%>"></i>좋아요  
                                                    <span id="like_count_<%=post[i]._id%>">
                                                        <% if(post[i].like !== undefined) { %>
                                                            (<%=post[i].like%>)
                                                        <% } %>
                                                    </span>
                                                </button>
                                                                                
                                                <%# 좋아요 중복 확인 %>
                                                <script>
                                                    $.ajax({
                                                        url: '/',
                                                        type: 'delete',
                                                        dataType:'json',
                                                        data: {post_id: '<%=post[i]._id%>'},
                                                        success: function(data) {
                                                            data = data.like_users[0];
                                                            for(var i = 0; i < data.like_user.length; i++) {
                                                                if('<%=id%>' == data.like_user[i]) {
                                                                    $('#heart_<%=post[i]._id%>').css('color', 'red');
                                                                    break;
                                                                } else {
                                                                    $('#heart_<%=post[i]._id%>').css('color', 'white');
                                                                }
                                                            }
                                                        },
                                                        error: function(request, status, error) {
                                                        }
                                                    }); 
                                                </script>

                                                <%# 댓글 창 %>
                                                <button type="button" class="btn btn-dark btn-sm" onclick="comment_func_<%=post[i]._id%>()">
                                                    <i class="fa fa-comment mr-2"></i>댓글 
                                                    <span id="comment_count_<%=post[i]._id%>">
                                                        <% if(post[i].comments !== undefined) { %>
                                                            (<%=post[i].comments.length%>)
                                                        <% } %>
                                                    </span>
                                                </button>
                                            </div>  

                                            <%# 비동기 좋아요 추가 %>
                                            <script>  
                                                var flag
                                                $('#like__<%=post[i]._id%>').click(function() {
                                                    if($('#heart_<%=post[i]._id%>').css('color') == 'rgb(255, 255, 255)') {                                                     
                                                        flag = 1;
                                                    } else {
                                                        flag = 0
                                                    }
                                                    var post_id = '<%=post[i]._id%>';
                                                    $.ajax({
                                                        url: '/',
                                                        type: 'PUT',
                                                        dataType:'json',
                                                        data: {post_id: post_id, flag: flag},
                                                        success: function(data) {
                                                            $('#like_count_<%=post[i]._id%>').html('(' + data.result + ')');
                                                            if($('#heart_<%=post[i]._id%>').css('color') == 'rgb(255, 255, 255)') {
                                                                $('#heart_<%=post[i]._id%>').css('color', 'red');
                                                                flag = 0;
                                                            } else {
                                                                $('#heart_<%=post[i]._id%>').css('color', 'white');
                                                                flag = 1;
                                                            }

                                                        },
                                                        error: function(request, status, error) {
                                                        }
                                                    });
                                                });
                                            </script>

                                            <%# 댓글창 접었다 펼치기 짜잔~! %>
                                            <script>
                                                var flag = 1;
                                                function comment_func_<%=post[i]._id%>() {
                                                    var comment_board = document.getElementById('comment_board_<%=post[i]._id%>');
                                                    if(flag == 1) {
                                                        comment_board.style="display: block";
                                                        flag = 0;
                                                    } else {
                                                        comment_board.style="display: none";
                                                        flag = 1;
                                                    }
                                                }
                                            </script>

                                            <%# 댓글  %>
                                            <div class="card-footer" id="comment_board_<%=post[i]._id%>" style="display: none;">
                                                <%# 댓글 입력 %>
                                                <div class="input-group mb-2">
                                                    <% if(user.name !== undefined) { %>
                                                        <input type="text" class="form-control form-control-sm" placeholder="<%=user.name%>님 댓글을 입력하세요." name="comment" id="comment_<%=post[i]._id%>">
                                                    <% } else { %>
                                                        <input type="text" class="form-control form-control-sm" placeholder="로그인을 하고 댓글을 작성해보세요." name="comment" id="comment_<%=post[i]._id%>">
                                                    <% } %>
                                                        <div class="input-group-append">
                                                            <button class="btn btn-dark btn-sm rounded-right" type="submit" id="enter_comment_<%=post[i]._id%>">작성</button> 
                                                        </div>
                                                </div>

                                                <%# 댓글 추가 %>
                                                <% if(post[i].comments !== undefined) { %>
                                                    <% for(var j = 0; j<post[i].comments.length; j++) { %>
                                                        <div class="media pl-4 pt-3">
                                                            <a href="/users?id=<%=post[i].comments[j].id%>">
                                                            <% if(post[i].comments[j].filepath !== undefined && post[i].comments[j].filepath !== '') { %>
                                                                <img src="..<%=post[i].comments[j].filepath%>" alt="ㅎㅇㄹ" class="mr-3 rounded-circle" style="width:40px; height: 40px;"/>
                                                            <% } else { %>
                                                                <img src="../images/porfile.png" alt="ㅂㅇㄹ" class="mr-3 rounded-circle" style="width:40px; height: 40px;"/>
                                                            <% } %>
                                                            </a>
                                                            <div class="media-body" id="comment-body">
                                                                <a href="/users?id=<%=post[i].comments[j].id%>" class="hover"><h6><span id="post_name_<%=post[i]._id%>"><%=post[i].comments[j].name%></span></a> <small><i id="post_date_<%=post[i]._id%>"> <%=post[i].comments[j].date%></i></small></h6>
                                                                <p id="post_content_<%=post[i]._id%>" class="bg-white rounded-lg p-2"><%=post[i].comments[j].content%></p>
                                                            </div>
                                                        </div>
                                                    <% } %>
                                                <% } %>

                                                <%# 비동기 댓글 추가 %>
                                                <script>
                                                    $('#enter_comment_<%=post[i]._id%>').click(function() {
                                                        var post_id = '<%=post[i]._id%>';
                                                        var comment = $('#comment_<%=post[i]._id%>').val();
                                                        $('#comment_<%=post[i]._id%>').val('');
                                                        $.ajax({
                                                            url: '/users/addcomment',
                                                            type: 'post',
                                                            data: {post_id: post_id, comment: comment},
                                                            success: function(res) {
                                                                var data = res['result'];
                                                                if(data !== undefined) {
                                                                    for(var j = 0; j < data.length; j++) {
                                                                        var html = '<div class="media pl-4 pt-3">';
                                                                            html += '<a href="/users?id="' + data[j].id + '"><img src="' + data[j].filepath + '" alt="" class="mr-3 rounded-circle" style="width:40px; height: 40px;"></a>';
                                                                            html += '<div class="media-body" id="comment-body">';
                                                                            html += '<a href="/users?id="' + data[j].id + '" class="hover"><h6><span id="post_name_<%=post[i]._id%>">' + data[j].name + '</span></a> <small><i id="post_date_<%=post[i]._id%>">' + data[j].date + '</i></small></h6>';
                                                                            html += '<p id="post_content_<%=post[i]._id%>" class="bg-white rounded-lg p-2">' + data[j].content + '</p>';
                                                                            html += '</div>'
                                                                            html += '</div>' 
                                                                    }
                                                                    $('#comment_count_<%=post[i]._id%>').html('(' + data.length + ')');
                                                                    $('#comment_board_<%=post[i]._id%>').append(html);
                                                                }
                                                            },  
                                                            error: function(request, status, error) {
                                                                alert("code:"+request.status+"\n"+"error:"+error);
                                                            }
                                                        })
                                                    });
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            </div>

                            <div class="tab-pane fade" id="board" role="tabpanel" aria-labelledby="profile-tab">
                                <table class="table table-striped table-bordered table-hover text-center mt-3">
                                    <thead>
                                        <tr class="">
                                            <th>번호</th>
                                            <th>제목</th>
                                            <th>작성자</th>
                                            <th>날짜</th>
                                            <th>조회수</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var i = 0; i < board.length; i++) { %>
                                            <tr onclick="window.location='/board?postid=<%=board[i]._id%>'">
                                                <td><%=board[i].post_id%></td>
                                                <% if(board[i].comments !== undefined) { %>
                                                    <td><%=board[i].title%>(<%=board[i].comments.length%>)</td>
                                                <% } else { %>
                                                    <td><%=board[i].title%></td>
                                                <% } %>
                                                <td><%=board[i].name%></td>
                                                <td><%=board[i].date%></td>
                                                <td><%=board[i].view%></td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </form>           
        </div>
    </body>
</html>